.main-fan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 全屏高度 */
  background-color: #ffffff; /* 示例背景色 */
}

.avatar-image {
  /* 可以在这里添加头像的样式 */
  width: 5px;
  height: 150px;
  border-radius: 50%;
}

.clock-cop {
  margin-top: auto; /* 添加一些间距 */
}

.state2-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 全屏高度 */
  background-color: #ffffff; /* 示例背景色 */
}

.state-toggle-button {
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
}